﻿<%@ Page Title="Contact" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true"
    CodeBehind="Contact.aspx.cs" Inherits="aqtv.sas2.web.Contact" %>


<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">



    <link href="css/jquery.rondell.css" rel="stylesheet" />
    <link href="css/jquery.rondell.min.css" rel="stylesheet" />
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery.mousewheel-3.0.6.min.js"></script>
    <script src="js/jquery.rondell.min.js"></script>
    <script src="js/modernizr-2.0.6.min.js"></script>

    <br />

    <br />
    <br />

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h2>Nos pueden contactar en el celular 3508232025 o al 3218893395</h2>
            <h3> En la dirección: Calle Cordoba 21 - 30 </h3>
             <h3> En Amalfi antioquia</h3>
        </div>
        <div class="col-md-1"></div>
    </div>



    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div id="rondellCarousel">
                <asp:Repeater ID="Repeater1" runat="server">
                    <ItemTemplate>
                        <a href="<%# Container.DataItem %>">
                            <img src="<%# Container.DataItem %>" />
                        </a>
                    </ItemTemplate>
                </asp:Repeater>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

       <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h3> En la dirección de la  calle Córdoba 19  # 21-30 , nos encuentra de las 9 am  a 
    6 pm, para brindarle los siguiente servicios, todo lo relacionado con energía solar,
    televisión pospago y prepago, internet satelital y circuito de cámaras de seguridad y 
    lo que no tenemos se lo conseguimos. </h3>
            
        </div>
        <div class="col-md-1"></div>
    </div>

    
    
    <div class="row">
        <div class="col-md-4">

            <table style="width: 100%">
                <tr>
                    <td><asp:Image ID="img3" runat="server" Height="300px" ImageUrl="~/imagenesPublicidad/cam.jpg" Width="390px" /></td>
                    <td><asp:Image ID="Image1" runat="server" Height="300px" ImageUrl="~/imagenesPublicidad/cam2.jpg" Width="390px" /></td>
                    <td><asp:Image ID="Image2" runat="server" Height="300px" ImageUrl="~/imagenesPublicidad/deco.jpg" Width="390px" /></td>
                </tr>
                  <tr>
                    <td><asp:Image ID="Image3" runat="server" Height="300px" ImageUrl="~/imagenesPublicidad/Energia-solar.jpg" Width="390px" /></td>
                    <td><asp:Image ID="Image4" runat="server" Height="300px" ImageUrl="~/imagenesPublicidad/dtv.jpg" Width="390px" /></td>
                    <td><asp:Image ID="Image5" runat="server" Height="300px" ImageUrl="~/imagenesPublicidad/paneles-solares-tejado.jpg" Width="390px" /></td>
                </tr>
            </table>

        </div>
        <div class="col-md-4">       
            
        </div>
        <div class="col-md-4"></div>
    </div>







    <script type="text/javascript">
        $(function () {
            $("#rondellCarousel").rondell({
                preset: "carousel",
            });
        });
    </script>

    <br />
    <br />
    <br />
    <br />








   








</asp:Content>
